.card {
    &[data-player=red] {
        background-color: #f00;
    }

    &[data-player=blue] {
        background-color: #00f;
    }

    p {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .values {
        span {
            width: 20px;
        }

        .topValue {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .rightValue {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        .bottomValue {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .leftValue {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}