.card {
    border: 1px solid #000;
    width: 128px; //256px
    height: 163px; //326px
    transform-style: preserve-3d;
    transition: transform 0.2s;

    &[data-player=red] {
        background-color: #f00;
    }

    &[data-player=blue] {
        background-color: #00f;
    }

    &__front,
    &__back {
        backface-visibility: hidden;
    }

    &__back {
        transform: rotateY(180deg);

        &::after {
            content: "";
            position: absolute;
            background: red;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &--hidden {
        transform: rotateY(180deg);
    }

    p {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        font-size: 0.6rem;
    }

    .values {
        span {
            width: 20px;
        }

        .topValue {
            top: 4px;
            left: 24px;
            transform: translateX(-50%);
        }

        .rightValue {
            top: 30px;
            left: 24px;
            transform: translateY(-50%);
        }

        .bottomValue {
            top: 32px;
            left: 24px;
            transform: translateX(-50%);
        }

        .leftValue {
            top: 30px;
            left: 4px;
            transform: translateY(-50%);
        }
    }
}