.hand {
    div {
        width: 128px; //256px
        height: 163px; //326px
    }

    div:empty {
        background: #fff;
    }

    &[data-player=red] {
        [data-selected=true] {
            transform: translateX(50%);
        }
    }

    &[data-player=blue] {
        [data-selected=true] {
            transform: translateX(-50%);
        }
    }

    &[data-selectable=true] {
        cursor: pointer;

        [data-player] {
            border: 1px solid #fff;

            &:hover {
                &::after {
                    position: absolute;
                    top: 1.2rem;
                }
            }

            &[data-player=red] {
                &:hover {
                    &::after {
                        content: ">";
                        left: -1.5rem;
                    }
                }
            }

            &[data-player=blue] {
                &:hover {
                    &::after {
                        content: "<";
                        right: -1.5rem;
                    }
                }
            }
        }
    }

    .score {
        font-size: 3rem;
    }
}