.hand {
    div {
        width: 128px; //256px
        height: 163px; //326px
    }

    div:empty {
        background: #fff;
    }

    &[data-player=red] {
        [data-selected=true] {
            transform: translateX(50%);
        }
    }

    &[data-player=blue] {
        [data-selected=true] {
            transform: translateX(-50%);
        }
    }

    &[data-selectable=true] {
        cursor: pointer;
    }
}