.hand {
    min-height: 559px;
    padding-top: 4rem;
    z-index: 1;

    &[data-player=red] {
        [data-selected=true] {
            transform: translateX(50%);
        }
    }

    &[data-player=blue] {
        [data-selected=true] {
            transform: translateX(-50%);
        }
    }

    >div {
        margin-top: -50%;
    }

    &[data-selectable=true] {
        z-index: initial;

        [data-player] {
            box-shadow: inset 0 0 0 1px #fff;

            &:hover {
                &::after {
                    position: absolute;
                    top: 1.2rem;
                }
            }

            &[data-player=blue] {
                &:hover {
                    &::after {
                        content: "";
                        position: absolute;
                        left: -1rem;
                        background-image: url("/assets/cursor.png");
                        background-size: cover;
                        width: 38px;
                        height: 25px;
                        margin-top: 3.4rem;
                        z-index: 4;
                    }
                }
            }
        }
    }
}

.score {
    font-size: 3rem;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    bottom: -2rem;
    z-index: 4;
    pointer-events: none;
}