.board {
    grid-template-columns: repeat(3, 0fr);

    div {
        position: relative;
        width: 100%;
        background-color: #fff;
        width: 128px; //256px
        height: 163px; //326px
    }
}