@import "../../styles/dialog.module.scss";

.rewardSelectionContainer {
    background: #000d;
    top: 0;
    left: 0;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.rewardSelectionDialog {
    @extend .dialog;
    padding: 1rem;
}