@use "../../styles/dialog.module.scss";

.menuDialog {
    @extend .dialog;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 10rem;

    &[data-dialog="playerSelection"] {
        top: 80%;
        min-width: 20rem;

        h3,
        p {
            text-align: center;
        }
    }
}