@use "../../styles/dialog.module.scss";

.locationSelectionDialog {
    @extend .dialog;
    position: absolute;
    top: calc(50% + 178px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 54px;

    h3,
    p {
        text-align: center;
    }
}