@use "../../styles/dialog.module.scss";

.locationSelectionDialog {
    @extend .dialog;
    position: absolute;
    top: calc(50% + 186px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 46px;

    h3,
    p {
        text-align: center;
        margin: 0;
    }

    &>div {
        margin-top: -5px;
    }
}