@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Custom FF8 Font White";
  src: url("/assets/fonts/old/FF8-Font-White.otf");
}

@font-face {
  font-family: "Custom FF8 Font Blue";
  src: url("/assets/fonts/old/FF8-Font-Blue.otf");
}

@font-face {
  font-family: "Custom FF8 Card Numbers";
  src: url("/assets/fonts/FF8-Card-Numbers.ttf");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Custom FF8 Font White", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 1.8rem;
  letter-spacing: 0rem;
  word-spacing: 0.2rem;
  text-shadow: 2px 2px 0 #212121;
  overflow: hidden;
  /* animation: jitter 10s ease infinite; */
}

body::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 2px, transparent 5px);
  background-size: 100% 3px;
  /* animation: lines 3s ease-out infinite; */
  opacity: 0.2;
  pointer-events: none;
  z-index: 11;
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: radial-gradient(50% 50%, #fbf8e1 1%, #f4ebdfab 40%, #32313154 100%), radial-gradient(50% 50%, #fbf8e1ee 1%, #fbf8e100 60%), url("/assets/bg.png");
  background-blend-mode: soft-light, hard-light;
  background-size: cover;
  background-position: center;
}

.blue-text {
  font-family: "Custom FF8 Font Blue";
}

/* @keyframes jitter {

  0%,
  100% {
    transform: translateY(-0.25px);
  }

  50% {
    transform: translateY(0.25px);
  }
} */

/* @keyframes lines {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 0px 15px;
  }
} */