@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  animation: jitter 10s ease infinite;
  /* mask-image: url("/assets/crt.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center; */
}

body::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 2px, transparent 5px);
  background-size: 100% 3px;
  animation: lines 3s ease-out infinite;
  opacity: 0.2;
  pointer-events: none;
  z-index: 11;
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: radial-gradient(50% 50%, #fff 1%, #ff7f61aa 40%, #32313188 100%), url("/assets/bg.png");
  background-blend-mode: color-burn;
  background-size: cover;
  background-position-x: center;
}

@keyframes jitter {

  0%,
  100% {
    transform: translateY(-0.25px);
  }

  50% {
    transform: translateY(0.25px);
  }
}

@keyframes lines {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 0px 15px;
  }
}