@use "../../styles/dialog.module.scss";

.enemySelectionDialog {
    @extend .dialog;
    position: absolute;
    top: calc(50% + 230px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;

    h3,
    p {
        text-align: center;
    }
}