.cardSelectionDialog {
    background: grey;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 1rem;
    min-width: 10rem;

    &[data-dialog=cardSelection] {
        width: 22rem;
        height: 52vh;
        left: 19rem;
        z-index: 1;
    }

    &[data-dialog=confirmation] {
        width: 13rem;
        height: 14vh;
        margin-left: 13rem;
    }

    button {
        text-align: center;

        &:hover {
            &::after {
                content: ">";
                position: absolute;
                left: -1rem;
            }
        }
    }
}